#root{
    padding-top: 20px;

}
article{
    background: blanchedalmond;
    display: flex;
    justify-content: center;
 
}
.create-card{
    border: 1px solid;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto; 

}

.create-footer{
    display: flex;
    justify-content: space-evenly;
}
form{
    padding: 10px;
}
