/* #root{
    padding-top: 20px;

} */
.card{
    border: 1px solid;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
}
article{
    background: blanchedalmond;
    display: flex;
    justify-content: center;
}
.createbtn{
    display: grid;
    justify-items: end;
    padding: 10px;
}